# Women Enterprenuer and Labour Prediction with Machine learning

In [1]:
#import the libraries

import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [2]:
#import the file from the directory 

data = pd.read_csv('women_dataset.csv')
data.head()

  No;Country;Level of development;European Union Membership;Currency;Women Entrepreneurship Index;Entrepreneurship Index;Inflation rate;Female Labor Force Participation Rate
0  4;Austria;Developed;Member;Euro;54.9;64.9;0.9;...
1   6;Belgium;Developed;Member;Euro;63.6;65.5;0.6;58
2  17;Estonia;Developed;Member;Euro;55.4;60.2;-0....
3  18;Finland;Developed;Member;Euro;66.4;65.7;-0....
4   19;France;Developed;Member;Euro;68.8;67.3;0;60.6

ok..! so this dataset is delimited or separated by ';' . we need to change modify our previous line of code

In [3]:
data = pd.read_csv('women_dataset.csv', sep=';')
data.head()

,No,Country,Level of development,European Union Membership,Currency,Women Entrepreneurship Index,Entrepreneurship Index,Inflation rate,Female Labor Force Participation Rate
0,4,Austria,Developed,Member,Euro,54.9,64.9,0.90,67.1
1,6,Belgium,Developed,Member,Euro,63.6,65.5,0.60,58.0
2,17,Estonia,Developed,Member,Euro,55.4,60.2,-0.88,68.5
3,18,Finland,Developed,Member,Euro,66.4,65.7,-0.20,67.7
4,19,France,Developed,Member,Euro,68.8,67.3,0.00,60.6

Yep... that looks good now !

In [5]:
#let us check the shape of the dataset 

data.shape

(51, 9)

ok.. so the data is so small.. it has only 51 rows and 9 colunms